* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main {
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 60vh;
    width: 27vw;
    background-color: white;
    border-radius: 12px 12px 12px 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px;
}

.image {
    background-image: url("./assets/images/illustration-article.svg");
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-position: center;
    /* Keeps the image centered */
    height: 45%;
    width: 100%;
    border-radius: 12px 12px 12px 12px;
    margin: 0px 0px 10px 0%;

}

.header1 {
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: fit-content;
}

.header2 {
    margin: 5px 5px 5px 5px;
    font-size: 10px;

}

.header3 {
    margin: 5px 5px 5px 5px;
    font-weight: 800;
}

.para {
    margin: 5px 5px 5px 5px;
    font-size: 12px;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 5px 5px;
    height: 12%;
    width: 76%;
}

.icon {
    background-image: url("./assets/images/image-avatar.webp");
    height: 100%;
    width: 25%;
    background-size: contain;
    /* Ensures the image covers the entire area and that there is no cropping which is essential*/
    background-position: center;
    /* Keeps the image centered */
    background-repeat: no-repeat;
    /* Using contain as the property value of background-size means the image is duplicated if it doesn't fully 
    "contain" the container. This property with stop the repeating of the image */
}

.name {
    display: flex;
    align-items: center;
    font-weight: 800;
    padding: 0px 0px 0px 5px;
}
@media (0px <= width <= 385px) { 
    .card {
        width: 75vw;
    }
    .footer {
        width: 100%;
    }
}