* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main {
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 60vh;
    width: 35vw;
    background-color: white;
    border-radius: 5%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.image {
    background-image: url("./assets/images/illustration-article.svg");
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-position: center;
    /* Keeps the image centered */
    height: 45%;
    width: 100%;
    border-radius: 4%;
    margin: 0px 0px 20px 0%;

}

.header1 {
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: fit-content;
}

.header2 {
    margin: 5px 5px 5px 5px;

}

.header3 {
    margin: 5px 5px 5px 5px;
    font-weight: 800;
}

.para {
    margin: 5px 5px 5px 5px;
    font-size: 12px;
}